@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .ql-toolbar.ql-snow {
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
  border-left: solid gray 1px;
  border-right: solid gray 1px;

}
.ql-toolbar.ql-snow{
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.dark .ql-container {
  border-bottom: solid gray 1px !important;
  border-left: solid gray 1px !important;
  border-right: solid gray 1px !important;
}
.ql-container{
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.ql-editor.ql-blank{
  font-size: 1.05rem;
}


.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}