@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .ql-toolbar.ql-snow {
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
  border-left: solid gray 1px;
  border-right: solid gray 1px;

}
.ql-toolbar.ql-snow{
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.dark .ql-container {
  border-bottom: solid gray 1px !important;
  border-left: solid gray 1px !important;
  border-right: solid gray 1px !important;
}
.ql-container{
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.ql-editor.ql-blank{
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: blue;
}
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

